body {
  margin: 0;
  padding: 0;
  background: #fcf6e6;
  color: #5f5e5e;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
}
