.TodoSearch {
  /* background: #eaecef; */
  border-radius: 2px;
  /* border: 2px solid #323742; */
  background: #fcf6e6;
  border: 0;
  border-bottom: 2px solid #ff0000ea;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  /* color: #cacacd; */
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}

.TodoSearch:disabled {
  opacity: 25%;
}
