.TodoSearch {
  background: #292d31;
  border-radius: 2px;
  border: 2px solid #323742;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #cacacd;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}

.TodoSearch:disabled {
  opacity: 25%;
}
