.search {
  display: flex;
}
.Icon-container .Icon-svg--lupa {
  margin-top: calc((64px / 2) - 8px);
}
.TodoSearch {
  border-radius: 2px;
  background: #fcf6e6;
  border: 0;
  border-bottom: 2px solid #ff0000ea;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: start;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}

.TodoSearch:disabled {
  opacity: 25%;
}
